<!-------------------TIPI----------------------

   CNT = CONTENITORE
   ICO = ICONA
   TXT = TESTO
   TXA = TESTAREA
   LNK = LINK
   IMG = IMMAGINE
   VID = VIDEO
   BTN = BOTTONE

----------------------------------------------->


<div [ngClass]="[elemento.tipo == 'CNT' ? alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento):'',alyo.impostazioni_esistenti(elemento)]">

    <!-- CNT - GRIGLIA -->
    <div *ngIf="elemento.tipo == 'CNT'">
        <div class="row alyo-margine-0px">
            <div *ngFor="let elemento2 of elemento.lista" [ngClass]="[alyo.ritornoclassi(alyo.filtro_ele(elemento2.classi,'tipo','GCLN',['componente']),elemento)]" class="alyo-margine-0px">
                <alyocollegamentovis [elemento]="elemento2" [alyo]="alyo" [padre]="elemento"></alyocollegamentovis>
            </div>
        </div>
    </div>

    <!-- ICO - ICONA -->
    <div *ngIf="elemento.tipo == 'ICO'">
        <div [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
            <fa-icon [icon]="alyo.fa[elemento.componente.valore].valore"></fa-icon>
        </div>
    </div>

    <!-- TXT - TESTO -->
    <div *ngIf="elemento.tipo == 'TXT'" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
        {{ elemento.componente.valore }}
    </div>

    <!-- TXA - TESTO AREA-->
    <div *ngIf="elemento.tipo == 'TXA'" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
        {{ elemento.componente.valore }}
    </div>

    <!-- LNK - LINK -->
    <div *ngIf="elemento.tipo == 'LNK'">

        <a *ngIf="this.elemento.componente.tipo == 'URL' || this.elemento.componente.tipo == 'WHAP'" [href]="ritornalink()" target="_blank">
            <div class="row alyo-margine-0px" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
                <div *ngFor="let elemento2 of elemento.lista" [ngClass]="[alyo.ritornoclassi(alyo.filtro_ele(elemento2.classi,'tipo','GCLN',['componente']),elemento)]" class="alyo-margine-0px">
                    <alyocollegamentovis [elemento]="elemento2" [alyo]="alyo" [padre]="elemento"></alyocollegamentovis>
                </div>
            </div>
        </a>

        <a *ngIf="this.elemento.componente.tipo == 'EML'" [href]="'mailto:'+this.elemento.componente.valore" target="_blank">
            <div class="row alyo-margine-0px" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
                <div *ngFor="let elemento2 of elemento.lista" [ngClass]="[alyo.ritornoclassi(alyo.filtro_ele(elemento2.classi,'tipo','GCLN',['componente']),elemento)]" class="alyo-margine-0px">
                    <alyocollegamentovis [elemento]="elemento2" [alyo]="alyo" [padre]="elemento"></alyocollegamentovis>
                </div>
            </div>
        </a>

        <a *ngIf="this.elemento.componente.tipo == 'TEL'" [href]="'tel:'+this.elemento.componente.valore" target="_blank">
            <div class="row alyo-margine-0px" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
                <div *ngFor="let elemento2 of elemento.lista" [ngClass]="[alyo.ritornoclassi(alyo.filtro_ele(elemento2.classi,'tipo','GCLN',['componente']),elemento)]" class="alyo-margine-0px">
                    <alyocollegamentovis [elemento]="elemento2" [alyo]="alyo" [padre]="elemento"></alyocollegamentovis>
                </div>
            </div>
        </a>
    </div>

    <!-- IMG - IMMAGINE -->
    <div *ngIf="elemento.tipo == 'IMG'">
        <img [src]="elemento.componente.tipo == 'CRM' ?alyo.percorso_alyowool+elemento.componente.valore:elemento.componente.valore" [ngClass]="[alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)]" class="alyo-zoom-interno">
    </div>

    <!-- BTN - BOTTONE -->
    <div *ngIf="elemento.tipo == 'BTN'">
        <button (click)="alyo.elemento_selezionato = elemento; alyo.evento(); alyo.s('EVENTO: ','SI')" class="row alyo-bordo-0px alyo-margine-0px" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)">
            <div *ngFor="let elemento2 of elemento.lista" [ngClass]="[alyo.ritornoclassi(alyo.filtro_ele(elemento2.classi,'tipo','GCLN',['componente']),elemento)]" class="alyo-margine-0px">
                <alyocollegamentovis [elemento]="elemento2" [alyo]="alyo" [padre]="elemento"></alyocollegamentovis>
            </div>
        </button>
    </div>

    <!-- MBS - MODALITA BIANCO SCURA -->
    <div *ngIf="elemento.tipo == 'MCS'">
        <alyocambiobiancascura [elemento]="elemento" [alyo]="alyo"></alyocambiobiancascura>
    </div>

    <!-- FRM - IFRAME - Youtube -->
    <div *ngIf="elemento.tipo == 'FRM'">
        <iframe [src]="this.url" [ngClass]="alyo.ritornoclassi(alyo.filtro_esclusione_ele(elemento.classi,'tipo','GCLN',['componente']),elemento)" class="alyo-padding-sotto-10px alyo-altezza-minima-100px"></iframe>
    </div>



</div>