<!-------------------TIPI----------------------

   CNT = CONTENITORE
   ICO = ICONA
   TXT = TESTO
   TXA = TESTAREA
   LNK = LINK
   IMG = IMMAGINE
   VID = VIDEO
   BTN = BOTTONE
   CMT = COMPONENTE
   ACS = Contenut
-->

<div class="alyo-posizione-relativo alyo-dropbox">

    <!-- CNT - GRIGLIA -->


    <div *ngIf="elemento.tipo == 'CNT'" [ngClass]="[

            elemento.classe[3] == '' ? '':alyo+alyowool.classe.padding.valore+'-'+elemento.classe[3],
            elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
            elemento.classe[5]  == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
            elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
            elemento.classe[7]  == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],
            
            elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],
            elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],
            
            

            ]" [ngStyle]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')', }"
        (mouseover)="hover=true" (mouseleave)="hover=false">


        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="pannello_aggiungi = !pannello_aggiungi;  aggiornapiano(pannello_aggiungi); " class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; left:  0px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.piu.valore"></fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0] == 's' ? 'n':'s',elemento.effetti[1]].join(',')});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento;alyowool.pannello = !alyowool.pannello;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore">                  </fa-icon></button>
            <!-- <button (click)="cancella = !cancella" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; right: 0px;">                 <fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.cestino.valore">              </fa-icon></button> -->
        </div>

        <!--="elemento2.eventi[1] == 0 ? true:elemento2.eventi[1].selezionato"-->

        <div class="alyo-altezza-minima-100px alyo-larghezza-100 example-list row" style="margin: 0px;" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let elemento2 of elemento.lista_componenti">

                <div [ngClass]="[   elemento2.effetti[0] == 's'? '':'alyo-trasparente-70 alyo-grigio30',
                                    elemento2.classe[0] == '' ? '':alyowool.classe.col.valore+'-'+elemento2.classe[0],
                                    elemento2.classe[1] == '' ? '':alyowool.classe.colsm.valore+'-'+elemento2.classe[1],
                                    elemento2.classe[2] == '' ? '':'alyo-'+alyowool.classe.margine.valore+'-'+elemento2.classe[2],
                                ]" [ngStyle]="{'z-index': elemento2.piano, width: verticale ? '100%':''}" class="alyo-bordo-8F8F8F-1px-hover example-box" cdkDrag>

                    <alyocontenitore [elemento]="elemento2" [lista_classe]="lista_classe" class="alyo-dropbox alyo-altezza-100px alyo-larghezza-100" style="margin: 0px;" [alyowool]="alyowool"></alyocontenitore>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- ICO - ICONA -->
    <div *ngIf="elemento.tipo == 'ICO'">

        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento; alyowool.pannello = !alyowool.pannello;  ;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore"></fa-icon></button>
        </div>

        <button (click)="pannello_emoticon = !pannello_emoticon; aggiornapiano(pannello_emoticon);" [ngClass]="[
                
                    elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
                    elemento.classe[5]  == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
                    elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
                    elemento.classe[7]  == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],
        
                    elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],      
                    elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],
        
                    elemento.classe[3]  == '' ? '':alyo+alyowool.classe.padding.valore+'-'+elemento.classe[3],
                    elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
                    elemento.classe[5]  == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
                    elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
        
                    elemento.effetti[1] == 's' ? elemento.classe[19] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[19]):elemento.classe[17] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[17]),
                    elemento.classe[18] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[18])+'-hover',
                ]" [ngStyle]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')', }"
            (mouseover)="hover=true" (mouseleave)="hover=false" class="alyo-altezza-minima-10px alyo-testo-centro alyo-bordo-0px alyo-larghezza-100"><fa-icon [ngClass]="elemento.classe[20] == '' ? '':alyo+alyowool.classe.testograndezza.valore+'-'+elemento.classe[20]" [icon]="alyowool.fa[elemento.componente.valore].valore"></fa-icon></button>

    </div>

    <!-- TXT - TESTO -->
    <div *ngIf="elemento.tipo == 'TXT'" class="alyo-altezza-minima-50px alyo-larghezza-100">
        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento; alyowool.pannello = !alyowool.pannello;alyowool.s('alyowool.componente[elemento.tipo].classi: ',alyowool.componente[elemento.tipo].classi); ;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore"></fa-icon></button>
        </div>
        <div [ngClass]="[

            elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
            elemento.classe[5]  == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
            elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
            elemento.classe[7]  == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],

            elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],
            elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],

            ]" (mouseover)="hover=true" (mouseleave)="hover=false">
            <alyoinput [testo]="elemento.componente" [tipo]="'text'" [modifica]="['alyotesti',elemento.id_componente,'valore']" [alyoclasse]="{contenitore: '',input: [
            elemento.classe[3] == '' ? '':alyo+alyowool.classe.padding.valore+'-'+elemento.classe[3],
            elemento.classe[4] == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
            elemento.classe[5] == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
            elemento.classe[6] == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],

            elemento.effetti[1] == 's' ? elemento.classe[19] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[19]):elemento.classe[17] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[17]),
            elemento.classe[18] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[18])+'-hover',

            elemento.classe[20] == '' ? '':alyo+'testo-'+elemento.classe[20],
            elemento.classe[21] == '' ? '':alyo+'testo-'+elemento.classe[21],
            elemento.classe[22] == '' ? '':alyo+'testo-'+elemento.classe[22],
            elemento.classe[23] == '' ? '':alyo+elemento.classe[23],
            
            ],bottone_cancella: 'alyo-testo-grigio50 alyo-bianco-trasparente-0'}" [alyostile]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')', }"
                [placeholder]="'Testo'" [alyowool]="alyowool"></alyoinput>

        </div>

    </div>

    <!-- TXA - TESTO -->
    <div *ngIf="elemento.tipo == 'TXA'" class="alyo-altezza-minima-50px alyo-larghezza-100">

        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento; alyowool.pannello = !alyowool.pannello;alyowool.s('alyowool.componente[elemento.tipo].classi: ',alyowool.componente[elemento.tipo].classi); ;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore"></fa-icon></button>
        </div>
        <div [ngClass]="[

                elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
                elemento.classe[5]  == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
                elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
                elemento.classe[7]  == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],

                elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],
                elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],
             
            ]" (mouseover)="hover=true" (mouseleave)="hover=false">
            <alyoinput [testo]="elemento.componente" [tipo]="'textarea'" [modifica]="['alyotestiarea',elemento.id_componente,'valore']" [alyoclasse]="{contenitore: '',input: [
                
                elemento.classe[3] == '' ? '':alyo+alyowool.classe.padding.valore+'-'+elemento.classe[3],
                elemento.classe[4] == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
                elemento.classe[5] == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
                elemento.classe[6] == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],

                elemento.effetti[1] == 's' ? elemento.classe[19] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[19]):elemento.classe[17] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[17]),
                elemento.classe[18] == '' ? '':'alyo-testo-'+individuacolore(elemento.classe[18])+'-hover',

                elemento.classe[20] == '' ? '':alyo+'testo-'+elemento.classe[20],
                elemento.classe[21] == '' ? '':alyo+'testo-'+elemento.classe[21],
                elemento.classe[22] == '' ? '':alyo+'testo-'+elemento.classe[22],
                elemento.classe[23] == '' ? '':alyo+elemento.classe[23]
           
            ],bottone_cancella: 'alyo-testo-grigio50 alyo-bianco-trasparente-0'}" [alyostile]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')', }"
                [placeholder]="'Testo'" [alyowool]="alyowool"></alyoinput>
        </div>
    </div>

    <!-- LNK - LINK -->
    <div *ngIf="elemento.tipo == 'LNK'" [ngClass]="[

            elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
            elemento.classe[5]  == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
            elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
            elemento.classe[7]  == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],

            elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],
            elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],

            elemento.classe[3] == '' ? '':alyo+alyowool.classe.padding.valore+'-'+elemento.classe[3],
            elemento.classe[4] == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
            elemento.classe[5] == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
            elemento.classe[6] == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],

        ]" [ngStyle]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')'}"
        (mouseover)="hover=true" (mouseleave)="hover=false">

        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="pannello_aggiungi =!pannello_aggiungi; aggiornapiano(pannello_aggiungi);" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; left:  0px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.piu.valore"></fa-icon></button>
            <button (click)="verticale=!verticale;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; left:  30px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.lista.valore"></fa-icon></button>
            <button (click)="pannello_tipilink = !pannello_tipilink; aggiornapiano(pannello_tipilink);" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-130px  alyo-bordo-0px"
                style="top: 10px; right: 90px;">{{ lista_tipi_link[elemento.componente.tipo].nome }}</button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento; alyowool.pannello = !alyowool.pannello; ;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 10px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore"></fa-icon></button>
            <!-- <button (click)="cancella = !cancella" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; right: 0px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.cestino.valore"></fa-icon></button> -->
        </div>

        <div class="alyo-altezza-minima-100px alyo-larghezza-100 example-list row" style="margin: 0px;" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let elemento2 of elemento.lista_componenti" [ngClass]="[
                        elemento2.effetti[0] == 's'? '':'alyo-trasparente-70 alyo-grigio30',
                        elemento2.classe[0] == '' ? '':alyowool.classe.col.valore+'-'+elemento2.classe[0],
                        elemento2.classe[1] == '' ? '':alyowool.classe.colsm.valore+'-'+elemento2.classe[1],
                        elemento2.classe[2] == '' ? '':alyo+alyowool.classe.margine.valore+'-'+elemento2.classe[2],
                    ]" [ngStyle]="{'z-index': elemento2.piano, width: verticale ? '100%':''}" class="alyo-bordo-8F8F8F-1px-hover example-box" cdkDrag>
                <alyocontenitore [elemento]="elemento2" [lista_classe]="lista_classe" class="alyo-dropbox alyo-altezza-100px alyo-larghezza-100" style="margin: 0px;" [alyowool]="alyowool"></alyocontenitore>
            </div>
        </div>

        <alyoinput [testo]="elemento.componente" [tipo]="'text'" [modifica]="['alyolink',elemento.id_componente,'valore']" [alyoclasse]="{contenitore: '',input: ['alyo-bordo-rotondo-10px alyo-padding-10px alyo-larghezza-100 alyo-bianco-trasparente-30 alyo-sfocato-30px','alyo-'+alyowool.alyocolore.fisso.grigio10grigio60], bottone_cancella: 'alyo-trasparente-0 alyo-testo-grigio20'}"
            [placeholder]="'Testo'" [alyowool]="alyowool"></alyoinput>


    </div>

    <!-- IMG - IMMAGINE -->
    <div *ngIf="elemento.tipo == 'IMG'">
        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="pannello_tipiimmagini = !pannello_tipiimmagini; aggiornapiano(pannello_tipiimmagini);" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-140px  alyo-bordo-0px"
                style="top: 10px; right: 90px; width: 30px;">{{ lista_tipi_immagini[elemento.componente.tipo].nome[0] }}</button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento; alyowool.pannello = !alyowool.pannello;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore"></fa-icon></button>
        </div>

        <div *ngIf="elemento.componente.tipo == 0">
            <alyofile [file]="{id: elemento.id_componente,src: elemento.componente,tipo: 'immagine'}" [sql]="{tabella: 'alyoimmagini',attributo: 'valore'}" [classe]="{dropbox: 'alyo-overflow-nascosto alyo-larghezza-100 ',immaginevideo: [
                
                    elemento.classe[3] == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[3],
                    elemento.classe[4] == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[4],
                    elemento.classe[5] == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[5],
                    elemento.classe[6] == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[6],
                    
                ],contenitore: [elemento.classe[7] == '' ? '':alyo+'testo-'+elemento.classe[7]]}" [estensioni]="['jpg','jpeg','png','gif']" [alyowool]="alyowool"></alyofile>
        </div>

        <div *ngIf="elemento.componente.tipo == 1" [ngClass]="elemento.classe[7] == '' ? '':alyo+'testo-'+elemento.classe[7]">
            <img [src]="elemento.componente.valore" [ngClass]="[
                
                    elemento.classe[3] == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[3],
                    elemento.classe[4] == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[4],
                    elemento.classe[5] == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[5],
                    elemento.classe[6] == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[6],

                ]" class="alyo-altezza-minima-100px">
            <alyoinput [testo]="elemento.componente" [tipo]="'text'" [modifica]="['alyoimmagini',elemento.id_componente,'valore']" [alyoclasse]="{contenitore: '',input: ['alyo-bordo-rotondo-10px alyo-padding-10px alyo-larghezza-100 alyo-bianco-trasparente-30'], bottone_cancella: 'alyo-trasparente-0 alyo-testo-grigio30'}"
                [placeholder]="'Url'" [alyowool]="alyowool"></alyoinput>
        </div>
    </div>

    <!-- BTN - BOTTONE -->
    <div *ngIf="elemento.tipo == 'BTN'" (click)="evento()" [ngClass]="[

        elemento.classe[3] == '' ? '':alyo+alyowool.classe.padding.valore+'-'+elemento.classe[3],
        elemento.classe[4] == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
        elemento.classe[5] == '' ? '':alyo+alyowool.classe.altezza.valore+'-'+elemento.classe[5],
        elemento.classe[6] == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
        elemento.classe[7] == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],

        elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],
        elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],

        ]" [ngStyle]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')'}"
        (mouseover)="hover=true" (mouseleave)="hover=false">

        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="pannello_aggiungi =!pannello_aggiungi; aggiornapiano(pannello_aggiungi);" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; left:  0px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.piu.valore"></fa-icon></button>
            <button (click)="verticale=!verticale;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; left:  30px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.lista.valore"></fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  90px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 60px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento;alyowool.pannello_eventi = !alyowool.pannello_eventi" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 30px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.evento.valore">                </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento; alyowool.pannello = !alyowool.pannello;  ;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore"></fa-icon></button>
            <!-- <button (click)="cancella = !cancella" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; right: 0px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.cestino.valore"></fa-icon></button> -->
        </div>

        <div class="alyo-altezza-minima-100px alyo-larghezza-100 example-list row" style="margin: 0px;" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let elemento2 of elemento.lista_componenti" [ngClass]="[
                        elemento2.classe[0] == '' ? '':alyowool.classe.col.valore+'-'+elemento2.classe[0],
                        elemento2.classe[1] == '' ? '':alyowool.classe.colsm.valore+'-'+elemento2.classe[1],
                        elemento2.classe[2] == '' ? '':alyo+alyowool.classe.margine.valore+'-'+elemento2.classe[2],
                    ]" [ngStyle]="{'z-index': elemento2.piano, width: verticale ? '100%':''}" class="alyo-bordo-8F8F8F-1px-hover example-box" cdkDrag>
                <alyocontenitore [elemento]="elemento2" [lista_classe]="lista_classe" class="alyo-testo-rosso-figlio alyo-dropbox alyo-altezza-100px alyo-larghezza-100" style="margin: 0px;" [alyowool]="alyowool"></alyocontenitore>
            </div>
        </div>

    </div>

    <!-- CMP - COMPONENTE -->
    <div *ngIf="elemento.tipo == 'CMP'" [ngClass]="[

    elemento.classe[4]  == '' ? '':alyo+alyowool.classe.larghezza.valore+'-'+elemento.classe[4],
    elemento.classe[5]  == '' ? '':alyo+(alyowool.classe.altezza.valore+50)+'-'+elemento.classe[5],
    elemento.classe[6]  == '' ? '':alyo+alyowool.classe.bordorotondo.valore+'-'+elemento.classe[6],
    elemento.classe[7]  == '' ? '':alyo+alyowool.classe.ombra.valore+'-'+elemento.classe[7],

    elemento.effetti[1] == 's' ? elemento.classe[13] == '' ? '':alyo+alyowool.classe.sfocato.selezionato.valore+'-'+elemento.classe[13]:elemento.classe[11] == '' ? '':alyo+alyowool.classe.sfocato.normale.valore+'-'+elemento.classe[11],
    elemento.classe[12] == '' ? '':alyo+alyowool.classe.sfocato.hover.valore+'-'+elemento.classe[12],

    ]" [ngStyle]="{'background-color': hover ? 'rgb('+rgb(elemento.classe[15])?.r+','+rgb(elemento.classe[15])?.g+','+rgb(elemento.classe[15])?.b+','+elemento.classe[9]/100+')':elemento.effetti[1] == 's' ? 'rgb('+rgb(elemento.classe[16])?.r+','+rgb(elemento.classe[16])?.g+','+rgb(elemento.classe[16])?.b+','+elemento.classe[10]/100+')':'rgb('+rgb(elemento.classe[14])?.r+','+rgb(elemento.classe[14])?.g+','+rgb(elemento.classe[14])?.b+','+elemento.classe[8]/100+')', }"
        (mouseover)="hover=true" (mouseleave)="hover=false">

        <div class="alyo-posizione-relativo alyo-altezza-50px alyo-larghezza-100">
            <button (click)="pannello_aggiungi = !pannello_aggiungi;  aggiornapiano(pannello_aggiungi); " class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; left:  0px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.piu.valore"></fa-icon></button>
            <button (click)="verticale=!verticale;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; left:  30px;">                                 <fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.lista.valore">                </fa-icon></button>
            <button (click)="panello_tipicomponenti = !panello_tipicomponenti" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px" style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.a.valore">                </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'effetti',valore: [elemento.effetti[0],elemento.effetti[1] == 's' ? 'n':'s'].join(',')});" [ngClass]="elemento.effetti[1] == 's' ? 'alyo-testo-rosso':'alyo-testo-grigio50'" class="alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  60px;"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.colore.valore">   </fa-icon></button>
            <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'visibilita',valore: elemento.effetti[0] == 's' ? 'n':'s'});" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px  alyo-bordo-0px"
                style="top: 10px; right:  30px;"><fa-icon class="alyo-testo-20px " [icon]="elemento.effetti[0] == 's'? alyowool.fa.occhio.valore:alyowool.fa.occhiochiuso.valore">   </fa-icon></button>
            <button (click)="alyowool.elemento_selezionato = elemento;alyowool.pannello = !alyowool.pannello;" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px"
                style="top: 10px; right: 0px; z-index: 4"><fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.css.valore">                  </fa-icon></button>
            <!-- <button (click)="cancella = !cancella" class="alyo-testo-grigio50 alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-posizione-assoluto alyo-altezza-30px alyo-larghezza-30px  alyo-bordo-0px" style="top: 10px; right: 0px;">                 <fa-icon class="alyo-testo-20px " [icon]="alyowool.fa.cestino.valore">              </fa-icon></button> -->
        </div>

        <alyosfondo *ngIf="elemento.componente.tipo == 'AS'" [alyowool]="alyowool"></alyosfondo>
        <alyocontenutiscorrevoli *ngIf="elemento.componente.tipo == 'ACS'" [elemento]="elemento" [alyowool]="alyowool" (alyocontenutiscorrevoli)="alyocontenutiscorrevoli = $event"></alyocontenutiscorrevoli>

    </div>

    <!------------------------------------------ PANELLI ---------------------------------------------------->

    <div *ngIf="pannello_aggiungi" style="top: 50px; left: 10px; z-index: 100;" class="alyo-sfocato-30px alyo-trasparente-bianco-50 alyo-posizione-assoluto alyo-piano-4 alyo-larghezza-500px alyo-altezza-500px alyo-overflow-scrollo alyo-piano-5 alyo-bordo-rotondo-30px">

        <div class="row">
            <div class="col-4" style="padding: 0px;"></div>
            <div class="col-4 alyo-testo-centro alyo-larghezza-100 alyo-altezza-50px" style="overflow: auto; white-space: nowrap; padding: 5px;">
                <button *ngFor="let elemento of lista_tipi_aggiungi; index as i2;" (click)="bottoneselezionato('aggiungi',elemento)" class="alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-0" style="width: 30px; height: 30px; display: inline-block; padding: 5px; margin: 0px;">
                        <div [ngClass]="elemento.selezione ? 'alyo-blu':'alyo-trasparente-bianco-0'" class="alyo-bordo-rotondo-50 alyo-larghezza-100 alyo-altezza-100 alyo-bordo-solido-blu-1px alyo-bordo-0px "></div>
                    </button>
            </div>
        </div>

        <div *ngIf="lista_tipi_aggiungi[0].selezione" class="alyo-padding-5px row" style="margin: 0px;">
            <div *ngFor="let elemento2 of elemento.lista_componenti" [ngClass]="[
                    elemento2.classe[0] == '' ? '':alyowool.classe.col.valore+'-'+elemento2.classe[0],
                    elemento2.classe[1] == '' ? '':alyowool.classe.colsm.valore+'-'+elemento2.classe[1],
                    elemento2.classe[2] == '' ? '':alyo+alyowool.classe.margine.valore+'-'+elemento2.classe[2],
                    ]" class="alyo-padding-5px alyo-bordo-rotondo-10px" style="margin: 0px; padding: 5px;">
                <button (click)="inserimento({funzione: 'esistente',elementopadre: elemento,elemento: elemento2})" class="alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-bordo-rotondo-10px alyo-larghezza-100">
                        <alyocontenitorelabel [elemento]="elemento2"  class="alyo-larghezza-100" style="margin: 0px;" [alyowool]="alyowool" ></alyocontenitorelabel> 
                </button>
            </div>
        </div>

        <div *ngIf="lista_tipi_aggiungi[1].selezione" class="alyo-padding-10px">

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'CNT'})" class="row alyo-trasparente-bianco-hover-30 alyo-larghezza-100 alyo-bordo-0px alyo-bordo-rotondo-20px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30 alyo-padding-5px alyo-margine-0px">
                <div *ngFor="let item of [0,1,2,3,4,5,6,7]" class="col-3 alyo-margine-0px alyo-padding-5px">
                    <div class=" alyo-altezza-30px alyo-larghezza-100 alyo-bordo-rotondo-10px alyo-trasparente-bianco-30"></div>
                </div>
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'ICO'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">         
                    <div class="alyo-trasparente-bianco-30 alyo-larghezza-100 alyo-bordo-rotondo-10px alyo-padding-10px">Icona</div>
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'TXT'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">         
                    <div class="alyo-trasparente-bianco-30 alyo-larghezza-100 alyo-bordo-rotondo-10px alyo-padding-10px">Testo</div>
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'TXA'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">         
                    <div class="alyo-trasparente-bianco-30 alyo-larghezza-100 alyo-altezza-100px alyo-bordo-rotondo-10px alyo-padding-10px">Testo Area</div>
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'LNK'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">         
                <div class="alyo-trasparente-bianco-30 alyo-larghezza-100 alyo-bordo-rotondo-10px alyo-padding-5px">Link</div>
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'BTN'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">         
                <div class="alyo-trasparente-bianco-30 alyo-larghezza-100 alyo-bordo-rotondo-10px alyo-padding-5px">Bottone</div>
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'IMG'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">         
                <img class="alyo-larghezza-100" [src]="'../../assets/immagini/generali/image.png'">
            </button>

            <button (click)="inserimento({funzione: 'nuovo',elemento: elemento,tipo: 'CMP'})" class="alyo-padding-10px alyo-bordo-rotondo-20px alyo-larghezza-100 alyo-bordo-0px alyo-trasparente-bianco-0 alyo-trasparente-bianco-hover-30">
                <div class="alyo-trasparente-bianco-30 alyo-larghezza-100 alyo-bordo-rotondo-10px alyo-padding-5px">Alyo Componente</div>
            </button>

        </div>
    </div>

    <div *ngIf="pannello_emoticon" style="bottom: -205px; left: 0px; z-index: 4;" class="alyo-posizione-assoluto alyo-piano-4 alyo-larghezza-300px alyo-altezza-200px alyo-overflow-scrollo alyo-bianco alyo-bordo-rotondo-10px">
        <button *ngFor="let item of alyowool.fa.fa" (click)="modifica({tabella: 'alyoicone',attributo: 'valore',valore: item,id: elemento.id_componente})" class="col-2 alyo-larghezza-50px alyo-altezza-50px alyo-bianco alyo-bordo-0px alyo-testo-grigio40" style="margin: 0px; padding: 0px;">
            <fa-icon class="alyo-testo-20px " [icon]="alyowool.fa[item].valore"></fa-icon>
          </button>
    </div>

    <div *ngIf="pannello_tipilink" style="top: 50px; right: 60px; z-index: 4;" class="alyo-posizione-assoluto alyo-piano-4 alyo-padding-5px alyo-larghezza-150px alyo-overflow-scrollo alyo-bianco alyo-bordo-rotondo-20px">
        <div class="row alyo-padding-5px ">
            <button *ngFor="let item of lista_tipi_link" (click)="modifica({tabella: 'alyolink',attributo: 'tipo',valore: item.id})" class="alyo-grigio10-hover alyo-padding-10px alyo-larghezza-100 alyo-bianco alyo-bordo-0px alyo-testo-grigio40 alyo-bordo-rotondo-10px"
                style="margin: 0px; padding: 0px;">
              {{item.nome}}
            </button>
        </div>
    </div>

    <div *ngIf="pannello_tipiimmagini" style="top: 50px; right: 0px; z-index: 4;" class="row alyo-posizione-assoluto alyo-piano-4 alyo-padding-5px alyo-larghezza-180px alyo-overflow-scrollo alyo-bianco alyo-bordo-rotondo-20px">
        <div class="row alyo-padding-5px ">
            <button *ngFor="let elemento of lista_tipi_immagini" (click)="modifica({tabella: 'alyoimmagini',attributo: 'tipo',valore: elemento.id});" class="alyo-grigio10-hover alyo-padding-10px alyo-larghezza-100 alyo-bianco alyo-bordo-0px alyo-testo-grigio40 alyo-bordo-rotondo-10px"
                style="margin: 0px; padding: 0px;">
                    {{elemento.nome}}
                </button>
        </div>
    </div>

    <div *ngIf="panello_tipibottoni" style="top: 50px; right: 0px; z-index: 4;" class="row alyo-posizione-assoluto alyo-piano-4 alyo-padding-5px alyo-larghezza-200px alyo-overflow-scrollo alyo-bianco alyo-bordo-rotondo-20px">
        <div class="row alyo-padding-5px ">
            <div *ngFor="let elemento2 of lista_tipi_bottoni">
                <button (click)="modifica({tabella: 'alyobottoni',attributo: 'tipo',valore: elemento2.id})" [ngClass]="elemento2.id == elemento.componente.tipo ? 'alyo-bordo-solido-blu-1px':''" class="alyo-grigio10-hover alyo-padding-10px alyo-larghezza-100 alyo-bianco alyo-bordo-0px alyo-testo-grigio40 alyo-bordo-rotondo-10px"
                    style="margin: 0px; padding: 0px;">
                        {{ elemento2.nome }}
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="panello_tipicontenitori" style="top: 50px; right: 0px; z-index: 4;" class="row alyo-posizione-assoluto alyo-piano-4 alyo-padding-5px alyo-larghezza-400px alyo-overflow-scrollo alyo-bianco alyo-bordo-rotondo-20px">
        <div class="row alyo-padding-5px ">
            <div *ngFor="let elemento2 of lista_tipi_contenitori">

                <div *ngIf="elemento2.id == 0">
                    <button (click)="modifica({tabella: 'alyocontenitori',attributo: 'id_componente',valore: 0})" [ngClass]="elemento2.id == elemento.id_componente ? 'alyo-bordo-solido-blu-1px':''" class="alyo-grigio10-hover alyo-padding-10px alyo-larghezza-100 alyo-bianco alyo-bordo-0px alyo-testo-grigio40 alyo-bordo-rotondo-10px"
                        style="margin: 0px; padding: 0px;">
                            {{ elemento2.nome }}
                        </button>
                </div>

                <div *ngIf="elemento2.id == 1">
                    <button *ngFor="let elemento3 of alyowool.lista_bottoni" (click)="modifica({tabella: 'alyocontenitori',attributo: 'id_componente',valore: elemento3})" class="alyo-grigio10-hover alyo-padding-10px alyo-larghezza-100 alyo-bianco alyo-bordo-0px alyo-testo-grigio40 alyo-bordo-rotondo-10px"
                        style="margin: 0px; padding: 0px;">
                            <alyocontenitorelabel [elemento]="elemento3"  class="alyo-larghezza-100" style="margin: 0px;" [alyowool]="alyowool" [valori]="true"  ></alyocontenitorelabel> 
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="panello_tipicomponenti" style="top: 50px; right: 0px; z-index: 4;" class="row alyo-posizione-assoluto alyo-piano-4 alyo-padding-5px alyo-larghezza-400px alyo-overflow-scrollo alyo-bianco alyo-bordo-rotondo-20px">
        <div *ngFor="let elemento2 of alyowool.lista_alyocomponenti" class="alyo-padding-5px">
            <button (click)="modifica({tabella: 'alyocomponenti',attributo: 'tipo',valore: elemento2.tipo})" [ngClass]="elemento2.tipo == elemento.componente.tipo ? 'alyo-bordo-solido-blu-1px':''" class="alyo-grigio10-hover alyo-padding-10px alyo-larghezza-100 alyo-bianco alyo-bordo-0px alyo-testo-grigio40 alyo-bordo-rotondo-10px"
                style="margin: 0px; padding: 0px;">
                {{ elemento2.nome }}
            </button>
        </div>
    </div>


</div>