<div id="{{ 'dropbox-'+file.id }}" [ngClass]="classe.dropbox" class="alyo-altezza-minima-400px" style="padding: 0px;">

    <div class="alyo-posizione-relativo alyo-altezza-30px">
        <button *ngIf="this.lista_posizioni.length" (click)="indietro()" [ngClass]="'alyo-trasparente-'+alyo.colore('biancogrigio60')+'-hover-30'" class="alyo-posizione-assoluto alyo-bordo-rotondo-50 alyo-bordo-0px alyo-testo-grigio50 alyo-larghezza-40px alyo-altezza-40px alyo-bianco-trasparente-0"
            style="top: 0px; left: 5px;"><fa-icon class=" alyo-testo-20px alyo-testo-grigio40" [icon]="alyo.fa.indietro1.valore"></fa-icon></button>
        <h4 class="alyo-posizione-assoluto alyo-testo-centro alyo-larghezza-100 alyo-testo-grigio40 alyo-altezza-30px " style="top: 0px; left: 30px;">{{ cartellaselezionata(cartella) }}</h4>
    </div>

    <div class="row alyo-padding-5px alyo-margine-0px">

        <div *ngFor="let item of lista_cartelle; index as i;" [ngClass]="individuaestensione(item) == 'CRT' ? 'col-2 col-sm-2':'col-3 col-sm-3'" style="padding: 5px; margin: 0px;">

            <button *ngIf="individuaestensione(item) == 'CRT'" (click)="avanti(i,item.lista); cartella=item.nome;" class="alyo-bordo-rotondo-10px alyo-larghezza-100 alyo-bianco-trasparente-0 alyo-altezza-120px alyo-bordo-0px alyo-testo-nero">
                <fa-icon class="alyo-testo-60px " [ngClass]="'alyo-testo-'+alyo.colore('grigio40grigio60')" [icon]="alyo.fa.cartella.valore"></fa-icon>
                <div class="alyo-testo-grigio50 alyo-testo-centro alyo-bordo-rotondo-10px alyo-arghezza-100">{{ cartellaselezionata(item.nome) }}</div>
            </button>
            <button *ngIf="individuaestensione(item) == 'IMG';" (click)="fileselezionato(visualizzaimmagine(item));" [ngClass]="file.src.valore == visualizzaimmagine(item) ? 'alyo-bordo-'+alyo.colore('MC')+'-1px':''" class="alyo-padding-0px alyo-margine-0px alyo-bordo-rotondo-10px alyo-larghezza-100 alyo-altezza-120px alyo-bordo-0px">
                <img [src]="alyo.percorso_alyowool+visualizzaimmagine(item)" class="alyo-bordo-rotondo-10px alyo-zoom-interno alyo-larghezza-100 alyo-margine-0px alyo-altezza-120px">  
            </button>

        </div>
    </div>


</div>